.vc__container {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.vc__textarea {
  margin: 0 auto;
}

.vc__keyboard {
  margin: 0 auto;
}

.vc__keyboard-cell {
  width: 60px;
	height: 60px;
	border: 1px solid black;
  transition: .3s;
}

.vc__keyboard-cell:hover {
  color: white;
  background-color: black;
  transition: .3s;
}

.vc__keyboard-cell_keydown {
  color: white;
  background-color: black;
  transition: .1s;
  
}

.vc__keyboard-cell_rounded {
  border-radius: 100px;
  transition: .1s;
}